.content{
    padding: 1%;
    margin: 1%;
    flex: 1 0 auto;
   
    /* border: 1px solid pink; */
}
h1 {
   color:#d43f8d;
   font-size: 2em;
}
.nav {
    display: inline;  
    position: absolute;
    right:0;
    top:3;  
}
.nav a {
    padding: 1.3em;
    margin-top:2%;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    
}
.navbar-header{
    background: #0250c5;
    background: -webkit-linear-gradient(bottom, #0250c5, #d43f8d);
    background: -o-linear-gradient(bottom, #0250c5, #d43f8d);
    background: -moz-linear-gradient(bottom, #0250c5, #d43f8d);
    background: linear-gradient(bottom, #0250c5, #d43f8d);
    padding: 20px;
    margin: -8px;
    padding-bottom: 2em;
}
.logo{
    font-size: 3em;
    color: white;
}
.navbar-brand{
    text-decoration: none;
}
.post {
    width: 80%;
    margin: 0 auto;
    background-color: #F5F5F5;
    padding: 0.5em;
    padding: 20px;
    padding-bottom: 50px;
    border-radius: 10px;

}
.createPost{
    padding: 1em;
    background: #0250c5;
    background: -webkit-linear-gradient(bottom, #0250c5, #d43f8d);
    background: -o-linear-gradient(bottom, #0250c5, #d43f8d);
    background: -moz-linear-gradient(bottom, #0250c5, #d43f8d);
    background: linear-gradient(bottom, #0250c5, #d43f8d);
    color: white; 
    font-weight: bolder;
    font-size: 16px;
    width: 80px;
    border-radius: 15px;
    float:right;
}
.createPost a {
    text-decoration: none;
}
.post{
    margin-bottom: 20px;
}

.post h2 a{
    color: black;
    font-size: 42px;
    text-decoration: none;
}
.post p {
    margin: 1em;
    font-size: 1.5em;
    /* border-radius: 1px solid black; */
}
.datepost{
    font-size: 16px;
    font-style: italic;
}
html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }

footer {
    flex-shrink: 0;
    height: 5%;
    text-align: center;
    background-color: #d43f8d;
    padding-top:30px;
    margin-left: -8px;
    margin-right: -8px;
  }

  .createPost a:visited{
    color:white;
    text-decoration: none;
  }