{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sign up Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/util.css' %}">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>

<body style="background-color: #999999;">

    <div class="limiter">
        <div class="container-login100">
            <div id="logo"><a href="/">MINXFUL</a></div>
            <button id="btnLogout"> Log out </button>

            <div class="login100-more" style="background-image: url('images/bg-01.jpg');"></div>

            <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
                <span class="login100-form-title p-b-59">
                    Sign Up
                </span>
                {% block content %}

                <form class="site-form" action="/user_account/signup/" method="post">
                    {% csrf_token %}
                    <div class="singupForm">{{ form }}</div>

                    <div class="flex-m w-full p-b-33">
                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                            <label class="label-checkbox100" for="ckb1">
                                <span class="txt1">
                                    I agree to the
                                    <a href="#" class="txt2 hov1">
                                        Terms of User
                                    </a>
                                </span>
                            </label>
                        </div>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <input type="submit" class="login100-form-btn" value="Signup">
                        </div>
                        <a href="/user_account/login" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
                            Sign in
                            <i class="fa fa-long-arrow-right m-l-5"></i>
                        </a>
                    </div>

                </form>
                {% endblock %}

            </div>
        </div>
    </div>

    <!-- <script src="js/main.js"></script> -->

</body>

</html>