{% load static %}

<!DOCTYPE html>
<html>
<body>

{% block content %}

<div class="create-article">
    <h2>yes</h2>
    <form class="site-form" action="" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        {{form}}
<!--        <input target="_blank" onclick="window.location.href = '/';" type="submit" value="Create" />-->
        <input target="_blank" id="btn" type ="submit" value="Create">
    </form>
</div>

{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static 'js/forum.js' %}"></script>

</body>

</html>
