{% load static %}
<!DOCTYPE html>

<html>

<head>
  {% block head %}
  <title>Minxful</title>
  {% endblock %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">  -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> 

<body>
  <header>
    <div class="container clearfix">

      <div class="navbar-wrapper">
        <div class="container">
          <nav class="navbar navbar-inverse navbar-fixed-top" id="navbar_whole">

            <div class="navbar-header">
              <a class="navbar-brand" href="/">
                <span class="logo"> MINXFUL </span>
              </a>
              <div class="nav">
                  {% if user.is_authenticated %} 
                    <a href="logout"> Log out</a>
                    <a href="userdash"> Dashboard</a>
                  {% else %}
                      <a href="user_account/login">Login</a>
                  {% endif %}
                <a href="user_account/signup">Signup</a>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>

  <div class="content">
    <div class="createPost"><a href="forum">Create Post</a></div>
    <h1>Popular Posts </h1>
    <div class="posts">
      {% for post in posts%}
      <div class="post">
        <h2><a href="#">{{post.title_text}}</a></h2>
        <p>{{post.snippet}}</p>
        <span class="click">Read More</span>
        
        <br><br>
        <span class="viewPost">View Post</span>
        <div>
          <hr>
          <i class="fa fa-comments" aria-hidden="true"></i>
          <!-- Button to Open the Modal -->
          <button id="commentBtn" type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
            Comments
          </button>

          <!-- The Modal -->
          <div class="modal" id="myModal">
            <div class="modal-dialog">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Add your comments </h4>
                  <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  <form>
                    <input id="commentInput" type="text" name="fname"><br>
                    <input id="commentSubmit" type="submit" class="btn btn-primary" value="Submit">
                  </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
      {% endfor %}
    </div>

  </div>



  <footer>
    <div class="navbar navbar-inverse navbar-static-bottom" role="navigation">
      <div class="navbar-text pull-left">
      </div>
      <div class="github">
        <!-- Add in your social media / github links here -->
        <a href="https://github.com/RosarioAraujo1/minxful_CST438_Project-">
          <i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
      </div>
      <!--Below is the copyright information for the site. You can fill in your own here.-->
      <div class="footerText">
        &copy; CST438 Software Engineering, 2019
      </div>
    </div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="{% static 'js/home.js' %}"></script>

</body>

</html>
