{% load static %}
<!DOCTYPE html>

<html>

<head>
    {% block head %}
    <title>Minxful</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/useradmin.css' %}">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


<body>
    <header>
        <div class="container clearfix">

            <div class="navbar-wrapper">
                <div class="container">
                    <nav class="navbar navbar-inverse navbar-fixed-top" id="navbar_whole">

                        <div class="navbar-header">
                            <a class="navbar-brand" href="/">
                                <span class="logo"> MINXFUL </span>
                            </a>
                            <div class="nav">
                                <span class="welcome">Welcome, {{user.username}}</span>
                                <a href="/">Go to Posts</a>
                                <button id="btnLogout"> Log out </button>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

    </header>

    <div class="content">
        <!-- <button id="btnLogout"> Log out </button> -->
        <div class="row">
            <div class="column1">
                <div class="userList">
                    <h4> <i class="fa fa-user" aria-hidden="true" id="icon"></i> User Dashboard</h4>
                    <ul>
                        <li><i id="icon" class="fa fa-pencil-square-o" aria-hidden="true"></i><a href="#"
                                id="yourPost">Your Posts</a>
                        </li>

                        <li><i id="icon" class="fa fa-comments-o" aria-hidden="true"></i><a href="#" id="yourcmt">Your
                                Comments</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="column2">
                <h1> Welcome to your User Dashboard</h1>
                <div class="info">
                    <p> Here you can explore and follow the posts you have
                        published!</p>

                    <div class="posts">
                        {% for post in posts%}
                        <div class="post">
                            <p>{{post.author}}</p>
                            <h2><a href="#">{{post.title_text}}</a></h2>
                            <p>{{post.snippet}}</p>
                            </div>
                        </div>

                        {% endfor %}
                    </div>

                </div>
            </div>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script src="{% static 'js/userdash.js' %}"></script>
</body>

</html>
