{% load static %}
<!DOCTYPE html>

<html>

<head>
    {% block head %}
    <title>Minxful</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/useradmin.css' %}">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


<body>
    <header>
        <div class="container clearfix">

            <div class="navbar-wrapper">
                <div class="container">
                    <nav class="navbar navbar-inverse navbar-fixed-top" id="navbar_whole">

                        <div class="navbar-header">
                            <a class="navbar-brand" href="/">
                                <span class="logo"> MINXFUL </span>
                            </a>
                            <div class="nav">
                                <span class="welcome">Welcome, {{user.username}}</span>
                                <a href="/">Go to Posts</a>
                                <button id="btnLogout"> Log out </button>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

    </header>

    <div class="content">
        <!-- <button id="btnLogout"> Log out </button> -->
        <div class="row">
            <div class="column1">
                <div class="userList">
                    <h4> <i class="fa fa-user" aria-hidden="true" id="icon"></i> User Dashboard</h4>
                    <ul>
                        <li><i id="icon" class="fa fa-pencil-square-o" aria-hidden="true"></i><a href="#" id="yourPost">Your Posts</a>
                        </li>

                        <li><i id="icon" class="fa fa-comments-o" aria-hidden="true"></i><a href="#" id="yourcmt">Your Comments</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="column2">
                <h1> Welcome to your User Dashboard</h1>
                <div class="info">
                    <p> Here you can explore and follow the posts you have
                    published!</p> 
                    <div class="posts">
                        {% for post in posts %}
                        <div class="post>
                                        {{post.author}}
                                        {{post.title_text}}
                                        {{post.body_text}}
                        {% endfor%}
                        </div>
                    <div class="post" id="comment">
                            Comments for user show be displayed here from database
                    </div>
                </div>
            </div>
        </div>



    </div>



    <footer>
        <div class="navbar navbar-inverse navbar-static-bottom" role="navigation">
            <div class="navbar-text pull-left">
            </div>
            <div class="navbar-text pull-right">
                <!-- Add in your social media / github links here -->
                <a href="https://github.com/">
                    <i class="fa fa-github-square fa-2x"></i></a>
            </div>
            <!--Below is the copyright information for the site. You can fill in your own here.-->
            <div class="navbar-text pull-left">
                &copy; CST438 Software Engineering, 2019
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'js/userdash.js' %}"></script>
</body>

</html>
